.todo-list {
    width: 100%;
    max-width: 1024px;
    padding-top: 30px;
    border-top: 8px solid #000;
    display: flex;
    flex-direction: column;

    &__loading-container {
        min-height: 100px;
        background: #cbcbcb;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        padding: 0 15px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}