//reset
@import 'vendor/reset';
// common styles
@import 'common/breakpoints';
@import 'common/mixins';
@import 'common/colours';
@import 'common/typography';
@import 'common/transitions';

// component styles
@import '../components/toDoList/todo-list';
@import '../components/toDoTask/todo-task';
@import '../components/overlay/overlay';

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @media (min-width: $breakpoint-lg) {
        padding: 0;
    }
}