.task {
    background: yellow;

    &--high {
        background: $highImportance;
    }

    &--medium {
        background: $mediumImportance;
    }

    &--low {
        background: $lowImportance;
    }
}